/* Background color of the webpage */
body {
	background-color: #ffffff;
	background-image: url('https://ss.iamlost.xyz/l/Kuyi5.png/raw');
}

p{
	color: #ff0303;
}

.center {
	margin-top: 20%;
}

.roof {
	margin-top: 2%;
}

/* Divider containing the input box, button and image. */
.character-input {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 320px;
}

.box-color{
	background-color: #333333!important;
}
.survivor-redirect {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 18px;
}

.sizeperk{
	height: 100px;
	width: 100px;
}

.sizeblank{
	height: 110px;
	width: 110px;
}

.righty{
	margin-right: 25%;
}

.lefty{
	margin-left: 25%;
}

.imgB1{
	z-index: -1;
	position: absolute;
	top: 562px;
	left: -33px;
}

.imgB2{
	z-index: -1;
	position: absolute;
	top: 562px;
	left: 739px;
}

.imgB3{
	z-index: -1;
	position: absolute;
	top: 562px;
	right: 741px;
}

.imgB4{
	z-index: -1;
	position: absolute;
	top: 562px;
	right: -31px;
}

/* Center item in the middle of the screen */
/*.center {
    display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	min-height: 100vh;
}*/
/*.perk1-input {
	text-align: col-md-3;
	width: 250px;
}*/

/* Size of the character image above the input box. */
/*.character-img {
	margin-bottom: 3%;
	height: 200px;
	width: 350px;
}*/
