/* Background color of the webpage */
body {
	background-image: url('https://ss.iamlost.xyz/l/DiCU9.jpg/raw');
}

p {
	color: #ff0303;
}

.center {
	margin-top: 20%;
}

.roof {
	margin-top: 10%;
}

/* Divider containing the input box, button and image. */
.character-input {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 320px;
}
.perk-input {
	text-align: center;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 280px;
}
.box-color{
	background-color: #333333!important ;
	color: #ffffff;
	border-color: #111111;
}

.survivor-redirect {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 18px;
}

.sizeperk{
	height: 100px;
	width: 100px;
}

.sizeblank{
	height: 110px;
	width: 110px;
}

.center-flex {
    display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}

.image-flex-parent {
  	position: relative;
}

.image-flex {
 	position: absolute;
    text-align: center;
    max-height: 100px; 
    max-width: 100px;
}

.perk-name {
	margin-top: 25%;
}

/*.perk1-input {
	text-align: col-md-3;
	width: 250px;
}*/

/* Size of the character image above the input box. */
/*.character-img {
	margin-bottom: 3%;
	height: 200px;
	width: 350px;
}*/